<div class="container mb-5 mt-5 d-flex justify-content-center">
  <p>Portée par ses 5 créateurs, la plateforme <strong>iRent</strong> s'affirme comme une nouvelle révolution numérique. Ces dernières décennies ont vu l'émergence d'une nouvelle tendance sur le web : la location. On voit principalement des sites et des applis de locations visant l'immobilier (Airbnb, PAP,..), les véhicules (Sixt, Rent A Car,...), même des outils divers ! De nos jours, tout se loue !<br>
  Notre but à travers cette plateforme est de mettre en relation des utilisateurs qui, d'un côté, proposent leurs produits à la location, et de l'autre, cherchent à louer un objet.<br>
  Les seules limites à la location seraient qu'on ne peut proposer d'immobilier (oui, on ne veut pas faire du Airbnb, la concurrence sur ce terrain est déjà grande et grandit toujours), ni de véhicule. Et finalement, la seule limite en tant qu'utilisateur est … la limite d'objets qu'il voudrait mettre en location ! C'est l'utilisateur qui voit :)<br>
  Cette plateforme est ouvert à tous les majeurs,... et pour tous ! Elle est un moyen de compléter ses revenus, de répondre à un besoin ponctuel, déchanger dans un lieu sécurisé pour mettre en place ce genre d'échanges, et de faire un geste pour la planète à notre échelle ;)<br>
  <br>
  Bref, notre plateforme serait donc un réseau qui fait du bien à tout le monde, et qui profites à tous !</p>
</div>
<div class="container d-flex flex-direction-raw justify-content-space-around">
  <div class="col d-flex flex-direction-raw justify-content-center">
    <div class="col text-center">
      <%= image_tag "adrien.png", class: "img-fluid rounded-circle mb-2", style: "height: 200px", alt: "group member"%>
      <h5> Adrien, <br> mister "OBJECTION!" </h5>
    </div>              
  </div>
  <div class="col d-flex flex-direction-raw justify-content-center">
    <div class="col text-center">
      <%= image_tag "jordan.jpg", class: "img-fluid rounded-circle mb-2", style: "height: 200px", alt: "group member"%>
      <h5> Jordan, <br> Le Doc' du Code </h5>
    </div>              
  </div>
  <div class="col d-flex flex-direction-raw justify-content-center">
    <div class="col text-center">
      <%= image_tag "juan.png", class: "img-fluid rounded-circle mb-2", style: "height: 200px", alt: "group member"%>
      <h5> Juan, <br> L'Appliqué </h5>
    </div>              
  </div>
  <div class="col d-flex flex-direction-raw justify-content-center">
    <div class="col text-center">
      <%= image_tag "lionel.jpg", class: "img-fluid rounded-circle mb-2", style: "height: 200px", alt: "group member"%>
      <h5> Lionel, <br> Le e-Marchandeur </h5>
    </div>              
  </div>
  <div class="col d-flex flex-direction-raw justify-content-center">
    <div class="col text-center">
      <%= image_tag "nico.jpg", class: "img-fluid rounded-circle mb-2", style: "height: 200px", alt: "group member"%>
      <h5> Nico, <br> Le Touriste </h5>
    </div>              
  </div>
</div>
<div class="row justify-content-center mt-3 mb-4"style="margin-left: 0px;margin-right: 0px;">
  <div class="col-md-8 text-center">
    <h3 class="mb-3">Notre équipe de déterminés</h3>
    <h6 class="subtitle">& codeurs passionnés :)</h6>
  </div>
</div>
