<!-------------------------------------------------------------------------------->
<div class="container_edit_pass">

<h2> Modifier mot de passe </h2>
  <div class="row">
    <div class="col-sm-8">
      <div class="tab-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <div class="col-sm-6">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "input_edit_pass", autocomplete: "email" %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(laissez vide si vous ne voulez pas le changer)</i><br />
            <%= f.password_field :password,class: "input_edit_pass", autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation,class: "input_edit_pass",  autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <i>(nous avons besoin de votre mot de passe actuel pour confirmer vos modifications)</i><br />
            <%= f.password_field :current_password,class: "input_edit_pass", autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Mise à jour",class: "btn btn-lg btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<h3>Supprimer compte?</h3>

<p>Pas content ?!? <%= button_to "Annuler mon compte", registration_path(resource_name),class: "btn btn-lg btn-danger", data: { confirm: "es-tu sûr??" }, method: :delete %></p>

<%= link_to "Revenir en arrière", :back %>
</div>

<!-------------------------------------------------------------------------------->
