
<div class="j jumbotron jumbotron-fluid">
    <div class="container no-error">
        <h1 class="display-4">L'expérience iRent</h1>
        <p class="lead">Vous cherchez des objets ou des outils pour les utiliser de manière ponctuelle ?  Alors vous êtes au bon endroit !<br> Avec cette plateforme, il vous est possible de louer toute une panoplie d'objets qui animeront votre quotidien ! <br> Cherchez l'objet que vous souhaitez, vérifier sa disponibilité, et <strong><u>louez-le !</u></strong></p>
    </div>
    <br>
</div>

<h3 class="mt-4">Le résulat de votre recherche</h3>

<br>

<p id="notice"><%= notice %></p>
<%# <div class="alert alert-success" role="alert"> %>
<div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @items.each do |item| %>
        <div class="col">
        
          <div class="card shadow-sm text-center card-size">
            <img class="card-img-top" src="<%= item.img_products %>">
            <h5 class="card-title justify-content-between"><%= item.title %></h5>

            <div class="card-body">
              <p class="card-text"><%= item.summary %></p>

            <p class="card-text"><%= truncate(item.description, length: 100) %>
            </p>



            <div class="card-header font-italic">
            Posté par <%= item.user.email if item.user %>
            <%= link_to "voir", user_path(item.user) %>



            
          </div>
          
              

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Voir', item_path(item.id) %></button>
                </div>
                <small class="text-muted"><%= item.created_at%></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
      </div>
    </div>
    <br>
</div>