
<h1>New Item</h1>

<%= form_for @item do |f| %><ul> 

  <li>title:</b> <%= f.text_field :title %></li>

  <li>Description:</b> <%= f.text_area  :description %></li>
  <li>Prix</b> <%= f.text_field  :price %></li>
  <li>Periode de disponibilité:</b> <%= f.number_field :available_duration %> </li>

              <div class="col-sm-6">
                <label for="mobile"><h4>Votre catégorie</h4></label>
<%= f.select :category, options_for_select(["Sport", "Bricolage", "Electroménager", "Other"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
              </div>
            </div>

<!---  <button type='submit'>Modifier mes infos </button> -->




<%= f.submit "Postez votre annonce " %>
<% end %>

