
<h1>New Item</h1>

<%= form_for @item do |f| %><ul> 

  <li>title:</b> <%= f.text_field :title %></li>
  <li>Sumarry:</b> <%= f.text_field :summary %></li>
  <li>Description:</b> <%= f.text_field  :description %></li>
  <li>price</b> <%= f.text_field  :price %></li>
  <li>Periode de disponibilité:</b> <%= f.number_field :available_duration %> </li>
  <li>Début de disponibilité:</b> <%= f.date_field :available_start %></li>
  <li>Fin de disponibilité:</b> <%= f.date_field :available_end %></li>
  <li>category</b> <%= f.text_field :title_category%></li>

      <%= f.fields_for :images do |s|%>
        <%= s.label :title%>
        <%= s.text_field :title %>  
      <%end%>
  <button type='submit'>Modifier mes infos </button>

<% end %>
