
<h1>New Item</h1>

<%= form_for @item do |f| %><ul> 

  <li>title:</b> <%= f.text_field :title %></li>

  <li>Description:</b> <%= f.text_field  :description %></li>
  <li>Prix</b> <%= f.text_field  :price %></li>
  <li>Periode de disponibilité:</b> <%= f.number_field :available_duration %> </li>

<!---  <button type='submit'>Modifier mes infos </button> -->


<%if current_user.img_products.attached?%>
  <%= image_tag @user.img_products, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>

<h3>Changer d'avatar ?</h3>
<%= form_tag item_img_products_path(@user.id), multipart: true do %>
  <%= file_field_tag :img_products %>
  <%= submit_tag "mettre à jour" %>
<% end %>

        <% end %>
<%= f.submit "Mettre à jour information " %>
