<p id="notice"><%= notice %></p>


<div class="card center" style="width: 18rem;">
 <img class="card-img-top" src="<%= @item.img_url %>">

 <div class="card-body center">
     <h2 class="card-title"><%= @item.title %></h2>
     <h3 class="card-title">Description</h3>
     <p class="card-text"><%= @item.description %></p>
     <h3 class="card-title">Price</h3>
     <p class="card-text"><%= @item.price %> €</p>
 </div>
<div class="bottom-buttons">
<%= link_to 'Edit', edit_item_path(@item) %> <%= link_to 'Back', items_path %></div>
</div>



