<p id="notice"><%= notice %></p>

<button type="button" class="btn btn-link" style="padding-left: 25px;"><%= link_to '<  Back', items_path %></button>

<div class="container d-flex justify-content-center">
  <div class="row mb-2">
    <h1 class=""><%= @item.title %></h1>
  </div>
</div>

<div class="container d-flex justify-content-center" style="margin-top: 15px">
  <!--<div class="row mb-5">-->
  <img src= "https://images.unsplash.com/photo-1511717004695-7862a87f4b3d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8Y2F0cyxjYXR8fHx8fHwxNjM4MzU5OTEy&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" alt="item picture" width="1100" height="450"> 
  <!--<%= image_tag "adrien.png", class: "img-fluid", style: "width: 1000", alt: "item picture"%>-->
    <!--<%= @item.img_products %>-->  
  </div>
</div>

<div class="container d-flex flex-direction-raw justify-content-space-around">
  <div class="col d-flex flex-direction-raw">
    <div class="col">
      <h2 class="">Description:</h2>
      <h4 class=""><%= @item.description %></h4>
    </div>              
  </div>
  <div class="col d-flex flex-direction-raw justify-content-center" style="float:right; text-align: right">
    <div class="col">
      <h2 class="">Prix</h2>
      <h4 class=""><%= @item.price %> €</h4>
      <h2 class="">Disponibilité (en nombre de jours) :</h2>
      <h4 class=""><%= @item.available_duration %></h4>
      <h2 class="">Proposé par :</h2>
      <%= link_to "#{@item.user.first_name}", user_path(@item.user), class: "btn btn-link" %>
    </div>              
  </div>
</div>

<!------------------------------------------------->


<div>
	<% if logged_in? %>
	<div style="padding-left: 100px; margin-top: 15px; margin-bottom: 40px;padding-right: 110px;">
    <%= link_to 'Acheter', order_path(@item), class: 'btn btn-success', style: "float:right;" %>
  <% end %>  
  <% if @item.user == current_user %>
    <%= link_to "Editer l'objet", edit_item_path(@item), class: 'btn btn-light' %> 
    <%= link_to "Supprimer l'objet", item_path(@item), class: 'btn btn-danger', data: {method: :delete, confirm: 'Voulez vous vraiment supprimer cet article ?'} %> </div>
  <%end%>
</div>
